<table class="table table-bordered">
  <caption>{{ category }}</caption>

  <thead>
    <tr>
      <th>{{ t 'components.property-declaration-table.description' }}</th>
      <th>{{ t 'components.property-declaration-table.acquisition_reason' }}</th>
      <th>{{ t 'components.property-declaration-table.acquisition_date' }}</th>
    </tr>
  </thead>

  <tbody>
    {{#each items as |item| }}
      <tr>
        <td>{{ optional-value item.description }}</td>
        <td>{{ optional-value item.acquisition_reason }}</td>
        <td>{{ optional-value item.acquisition_date }}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

