{{#each sortedPropertyDeclarations as |declaration| }}
  <section id="property-declaration-{{ declaration.year }}">
    <h3>
      {{ t 'components.property-declarations-list.headline' year=declaration.year }}
      <hr>
    </h3>

    {{#each declaration.lists as |list|}}
      {{#if list.items }}
        {{ property-declaration-table category=list.category items=list.items }}
      {{/if}}
    {{/each}}

    {{#if declaration.incomes }}
      <table class="table table-bordered">
        <caption>{{ t 'components.property-declarations-list.incomes.caption' }}</caption>

        <thead>
          <tr>
            <th>{{ t 'components.property-declarations-list.incomes.description' }}</th>
            <th>{{ t 'components.property-declarations-list.incomes.value' }}</th>
          </tr>
        </thead>

        <tbody>
          {{#each declaration.incomes as |income| }}
            <tr>
              <td>{{ optional-value income.description }}</td>
              <td>{{ optional-value income.value }}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if }}

    {{#if declaration.statements }}
      <h4>{{ t 'components.property-declarations-list.statements' }}</h4>

      <ul class="list-unstyled">
        {{#each declaration.statements as |statement| }}
          <li>{{ statement }}</li>
        {{/each}}
      </ul>
    {{/if}}
  </section>
{{/each}}
