<div class="jumbotron">
  <div class="container">
    {{#link-to 'application' class="logo" }}
      <img src="/assets/images/logo.svg" alt="Otvorené Súdy">
    {{/link-to}}

    <ul class="links list-inline pull-right">
      <li>
        {{#link-to (query-params l='sk') }}SK{{/link-to}}
        &nbsp;
        {{#link-to (query-params l='en') }}EN{{/link-to}}
        &nbsp;
        <a target="_blank" href="http://transparency.darujme.sk/761">{{ t 'application.donate' }}&nbsp;{{ fa-icon "external-link" }}</a>
      </li>
    </ul>

    <div class="headline">
      <h1 class="title">
        {{ t 'application.headline' }}
      </h1>

      <h2 class="description">
        {{ t 'application.description' }}
        <br>

        <small class="hidden-xs">
          <a href="https://otvorenesudy.sk">Otvorené Súdy</a>
          a
          <a href="http://transparency.sk">Transparency Internation Slovensko</a>
        </small>
      </h2>
    </div>
  </div>
</div>

<div class="container content">
  {{outlet}}
</div>

<footer>
  <div class="container">
    {{ t 'application.data_source' }} <a target="_blank" href="https://www.genpro.gov.sk/prokuratura-sr/majetkove-priznania-30a3.html">{{ t 'application.general_prosecutors_office' }}</a>.
    <br>
    {{ t 'application.disclaimer' }}
    <br>
    <br>
    Copyright 2016 &middot;
    <a target="_blank" href="https://github.com/otvorenesudy/otvorenesudy-prosecutors">GitHub</a> &middot; 
    <a target="_blank" href="https://otvorenesudy.sk">Otvorené Súdy</a> &middot;
    <a target="_blank" href="http://transparency.sk">Transparency International Slovensko</a>
  </div>
</footer>
