<section id="prosecutors-heading">
  <h1 class="text-center">
    Zoznam prokurátorov

    <small>
      <br>

      Vyhľadávate v zozname majektových priznaní {{ model.length }} prokurátorov
    </small>
  </h1>
</section>

<section id="prosecutors-controls">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group">
        <span class="input-group-addon">{{ fa-icon 'search' }}</span>
        {{ input value=q id="q" type="text" class="form-control" name="q" placeholder="Vyhľadávajte podľa mena ako harabin, číznar, ..." autocomplete="off" }}
      </div>
    </div>
  </div>
</section>

<section id="prosecutors-list">
  {{ prosecutors-list prosecutors=model }}
</section>

{{outlet}}
